.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

#title-div {
  font-family: "lust", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  margin: 10px;
}

#button-div {
  margin: 10px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
  color: rgb(136, 136, 136);
}

#sketch-div {
  display: flex;
  flex-direction: column;
}

#about-title {
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

#about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

#name {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

#ex-title,
#web-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#ex-div,
#web-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 3rem;
  gap: 1rem;
}
